
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vw;
    
}

#next-btn{
    margin-top: 10vh;
    padding: 3vh;
    font-size: larger;
    background-color: rgba(30, 30, 30, 0.4);
    color: white;
}
#next-btn:hover{
    border-style: solid;
    border-color: white;
}


label{
    font-size: large;
    padding: 2vh;
    margin: 2vh;
    background-color: black;
}

h1{
    padding: 2vh;
    margin: 2vh;
    background-color: black;
}